* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    background: linear-gradient(to bottom right, #4bc9f7, #e9e4f0);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

#box-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.4);
    width: 350px;
    border-radius: 20px;

}

h2 {
    font-size: 25px;
}

#form-login {
    margin-top: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#form-login button {
    margin-top: 20px;
    background-color: #14B8A6;
    height: 14%;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

#form-login button:hover {
    background-color: #0D9488
}

#icon {
    display: flex;
    justify-content: center;
    width: 100%;

}

#icon div {
    background-color: #14B8A6;
    padding: 10px;
    border-radius: 20px;
}

#boxUsername {
    width: 100%;
    height: fit-content;

}

#inputUsername {
    width: 100%;

}

#username {
    /* background-color: white; */
    display: flex;
    gap: 20px;
    font-size: 40px;
    border-radius: 30px
}

#person {
    position: fixed;
    /* height: 100%; */
    font-size: 45px;
    margin-top: 3px;
}

#username input {
    padding: 16px 18px 16px 50px;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none
}

#username input:focus {
    border-color: #14B8A6;
    box-shadow: 0 0 5px #14B8A6;
    /* color: #0D9488; */
}

#checkin {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

#checkin a {
    color: #14B8A6;
}

#checkin a:hover {
    color: #0D9488;
}

#register a {
    color: #14B8A6;
}

#register a:hover {
    color: #0D9488;
    text-decoration: underline;
}

#register p {
    text-align: center;
}

.hidden {
    display: none;
}

.show {
    display: flex;
}

/* --------------------- */

/* Estilos básicos da barra de navegação */

#navbar {
    height: 100px;
    width: 100%;
    /* background: linear-gradient(to bottom, #14B8A6, #e9e4f0); */
    /* background: linear-gradient(#4bc9f7, #e9e4f0); */
    box-shadow: 0 0 5px black;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* border: 2px solid black; */
    gap: 30px;
}



.navbar a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
}

/* Estilos da caixa dropdown */
.navbar .dropdown {
    position: absolute;
    margin: auto;
    background-color: #14B8A6;
    display: none;
    padding: 0px 0;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Animação de empurrar para baixo */
.navbar .nav-item:hover .dropdown {
    display: block;
    animation: slideDown 0.5s ease forwards;
}

/* Keyframes para a animação de empurrar */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.navbar .dropdown li:last-child {
    border-bottom: none;
}

.navbar .dropdown a {
    color: black;
}

.navbar .dropdown a:hover {
    background-color: #0D9488;
}

#iconUser {
    position: fixed;
    right: 50px;
    display: flex;
}

#entrance {
    position: absolute;
    /* width: 100%; */
    display: flex;
    justify-content: end;
    /* margin-right: 20px; */
    right: 30px;
    gap: 20px;
}

#entrance button {
    width: 5vw;
    height: 5vh;
    /* background: none; */
    border: none;
}

#signIn {
    background: #4bc9f7;
    cursor: pointer;
}

#signUp {
    background: #14B8A6;
    cursor: pointer;
}

#box-activity {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 70vw;
    border-radius: 20px;
}

#box-activity button {
    height: fit-content;
    background: none;
    padding: 16px;
    border: none;
    background-color: #14B8A6;
    border-radius: 10px;
}

#box-activity button:hover {
    background-color: #0D9488;
    transition: 500ms;
    cursor: pointer;
}

#options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 60%;
    flex-wrap: wrap;
    /* background-color: green; */
}

#createActivityBox {
    margin: auto;
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

#createActivityBox input {
    padding: 5px;
}

#allActivityBox {
    margin: auto;
    justify-self: center;
    align-self: center;
    width: 60%;
    height: 70%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}